html,
body {
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: goldenrod;
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#anim_block {
    position: absolute;
    width: 70%;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -35%;
    font-size: 50px;
    text-align: center;
    overflow: hidden;
    transform-origin: 50% 90%;
    transform: perspective(500px) rotateX(35deg);
}
#anim_block:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}
.anima_content {
    position: absolute;
    top: 100%;
    animation: move 30s linear 0s infinite;
}
@keyframes move {
    0% {
        top: 100%;
    }
    100% {
        top: -40%;
    }
}

